@font-face {
    font-family: myFirstFont;
    src: url(gsans.ttf);
    size: 200px;
}

div {
    font-family: myFirstFont;
    size: 200px
}

body {
    background-color: #f9ffa7;
}

div.a {
text-align: center;
}

div.shadow {
    text-shadow: 7px 7px rgba(0, 0, 0, 0.089);
}

div.size35 {
    font-size: 35px;
}

div.size25 {
    font-size: 25px;
}

.infaprosayt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px; 
}


/* круговая анимация*/
img.rot {
    animation: 1s linear 0s normal none infinite running rot;
    -webkit-animation: 25s linear 0s normal none infinite running rot;
    width: 200px;
  }
  @keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .posskartinkianim {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
  }