*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

@font-face {
    font-family: sans;
    src: url(gsans.ttf);
    size: 200px;
}

div {
    font-family: sans;
    size: 200px
}

body {
    background-color: #f9ffa7;
    background-image: url("3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

div.center {
  text-align:center;
}

div.left {
  text-align:left;
}

div.right {
  text-align:right;
}

div.shadow {
  text-shadow: 7px 7px rgba(0, 0, 0, 0.089);
}

div.size35 {
    font-size: 35px;
}

div.size25 {
    font-size: 25px;
}

.infaprosayt {
    display: flex;
    height: 10px;
}

.bygdmeow {
  display: flex;
}

/* круговая анимация*/
img.rot {
    animation: 1s linear 0s normal none infinite running rot;
    -webkit-animation: 25s linear 0s normal none infinite running rot;
    width: 200px;
  }
  @keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .posskartinkianim {
    display: flex;
    justify-content: center;
    align-items: center;
    height:250px;
  }

  .bright {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .bleft {
    position: absolute;
    left: 0;
    bottom: 0;
  }